@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) {
    .container {
        max-width: 1640px;
    }
}
@media (min-width: 1200px) and (max-width: 1650px) {
    .container {
        padding: 0 50px;
    }
}
/* bootstrap rewrite */
.bg-dark {
    background-color: #303E4F !important;
}

/* header */
.header .navbar-brand {
    margin-right: 35px;
}
.header .top-header {
    padding: 14px 0
}
.header .navbar-search {
    width: 100%;
    max-height: 48px;
}
.header .navbar-search .dropdown-categories {
    width: 72px;
}
.header .dropdown-categories .dropdown-toggle::after {
    content: none
}
.header .dropdown-categories .dropdown-toggle {
    background-image: url("../icons/search-drop.svg");
    background-position: right center;
    background-repeat: no-repeat;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    padding-right: 15px;
}
.header .navbar-search .dropdown-categories .dropdown-menu {
    margin-top: 17px;
    margin-left: -20px;
}
.header .dropdown-categories .dropdown-menu {
    padding: 10px;
    border: 0;-webkit-box-shadow: 0px 0px 8px 0px rgba(89,101,114,0.15);
    -moz-box-shadow: 0px 0px 8px 0px rgba(89,101,114,0.15);
    box-shadow: 0px 0px 8px 0px rgba(89,101,114,0.15);
    border-radius: 5px;
}
.header .dropdown-categories .dropdown-item {
    padding: 0 10px;
    color: #596572;
    font-size: 14px;
    line-height: 30px;
}
.header .dropdown-categories .dropdown-item:hover {
    color: #fff;
    background: #EEAB10;
    border-radius: 5px;
}
.header .dropdown-categories .dropdown-item:active {
    color: #fff;
    background: #EEAB10;
    border-radius: 5px;
}
.header .dropdown-categories .dropdown-item:focus {
    color: #fff;
    background: #EEAB10;
    border-radius: 5px;
}
.header .navbar-search button {
    -webkit-appearance: none;
    border: none;
    background: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
}
.header .navbar-search form {
    padding: 5px 3px 5px 20px;
    max-height: 48px;
    margin-bottom: 0;
    border-radius: 5px;
}
.header .navbar-search input::placeholder {
    color: #CCCCCC;
}
.header .navbar-search input {
    border: 0;
    font-family: "Almanach", sans-serif;
    font-size: 16px;
    color: #333333;
}
.header .navbar-search input:focus {
    outline: none;
    box-shadow: none;
}
.header .navbar-search .header-search-icon img {
    max-height: 48px;
}
.header .navbar-language .current-language {
    height: 40px;
    width: 40px;
    background-color: #596572;
    border-radius: 5px;
    margin-left: 30px;
}
.header .navbar-language .current-language img {
    object-fit: scale-down;
    height: 16px;
    width: 16px;
}
.header .navbar-language .dropdown-categories .dropdown-menu {
    margin-top: 13px;
}
.header .navbar-language .dropdown-toggle {
    font-family: almanach, sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}
.header .navbar-language .dropdown-menu {
    min-width: 60px;
    text-align: center;
}
.header .navbar-language  .dropdown-categories .dropdown-toggle {
    background-image: url("../icons/caret_down.svg");
}
.header .navbar-account {
    margin-left: 20px;
}
.header .navbar-account a {
    font-family: almanach, sans-serif;
    line-height: 17px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.2px;
}
.header .navbar-account span {
    font-family: almanach, sans-serif;
    padding: 0 3px;
    line-height: 17px;
}
.header .navbar-account .moj-ucet a {
    font-family: almanach, sans-serif;
    letter-spacing: 0px;
    font-size: 16px;
    font-weight: bold;
}
.header .navbar-cart {
    position: relative;
    margin: 0 4px 2px 15px;
}
.header .navbar-cart span {
    position: absolute;
    right: -5px;
    top: 0px;
    color: #D10019;
    width: 16px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    border-radius: 20px;
    display: block;
}
.header .menu-header {
    border-top: 1px solid #455261;
}
.header .navbar .nav-link {
    padding: 8px 25px;
    border-right: 1px solid #455261;
    font-family: almanach, sans-serif;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px solid #455261;
    border-left: 1px solid #455261;
    margin-left: -1px;
    margin-top: -1px;
}
.header .navbar .nav-link:hover {
    background-color: #455261;
}

/* homepage slider */
.homepageSlider {
    background-color: #132132;
}
.afterSlider {
    z-index: 99999;
    margin-top: -40px;
    position: relative;
    width: 100%;
}
.afterSlider img {
    width: 100%;
}
@media (max-width: 1600px) {
    .afterSlider img {
        width: unset;
        max-width: unset;
    }
}
@media (min-width: 2400px) {
    .afterSlider {
        z-index: 99999;
        margin-top: -69px;
    }
}

/* popularne kategorie */
.popularneKategorie {
    padding: 50px 0 50px;
    background-color: #efefef;
}
.section-heading {
    color: #303E4F;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
    padding: 0 0 6px;
    border-bottom: 5px solid #EEAB10;
    width: -moz-fit-content;
    width: fit-content;
}
.popularneKategorie .kategorie {
    background-color: #303E4F;
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    border-radius: 5px;
    margin-bottom: 14px;
    padding: 5px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.2px;
    background-image: url("../icons/cat_arrow.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
    transition-duration: 0.1s;
}
.popularneKategorie .kategorie span {
    padding-left: 5px;
    width: 100%;
    margin-right: 22px;
}
.popularneKategorie .kategorie:hover {
    text-decoration: none;
    background-color: #EEAB10;
    background-position: right 11px center;
}
.popularneKategorie .vsechnyKategorie {
    background-color: #EEAB10;
    background-image: none;
    font-family: almanach, sans-serif;
    line-height: 22px;
    text-align: center;
    justify-content: center;
}
.popularneKategorie .vsechnyKategorie span {
    margin-right: 0;
}
.popularneKategorie .kategorieRow {
    padding-top: 25px;
    margin-right: -7px;
    margin-left: -7px;
}
.popularneKategorie .kategorieRow .col-12 {
    padding-right: 7px;
    padding-left: 7px;
}

/* specialni akce */
.specialniAkce {
    padding: 50px 0;
}
.specialniAkce .aktualizaceInfo {
    margin-top: 3px;
    margin-left: 25px;
}
.specialniAkce .odpocet  {
    background-color: #d62b2b;
    color: #fff;
    padding: 7px 14px;
    margin-bottom: 0;
}
.specialniAkce .odpocet p {
    margin-bottom: 0;
    word-spacing: 4px;
    line-height: 24px;
    line-height: 32px;
    font-family: "Helvetica Neue",sans-serif;
    font-weight: 600;
}

/* specialni akce */
.product-box {
    position: relative;
    padding-top: 15px;
}
.product-box .hlavniFoto {
    height: 260px;
    object-fit: scale-down;
    margin: auto;
    object-position: center;
}
.product-box .slevaSticker {
    height: 34px;
    width: 34px;
    background-color: #EEAB10;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 15px;
    top: 15px;
}
.product-box .slevaSticker .selvaLabel {
    font-size: 6px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin-bottom: 0
}

.product-box .slevaSticker .slevaProcento {
    font-size: 9px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 9px;
}
.product-box .znacka {
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 19px;
}
.product-box .nazevProduktu {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 22px;
}
.product-box .hodnoceniCislo {
    color: #333333;
    font-family: "Almanach", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 28px;
}
.product-box .aktualniCena {
    color: #BF0E07;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 28px;
}
.product-box .predchoziCena {
    color: #3333336b;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 28px;
    text-decoration: line-through;
}
.product-box .labelVyrobce {
    color: #3333336b;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 16px;
}
.product-box .vyrobce {
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 16px;
}
.product-box .prodane {
    background-color: #f09d2b8a;
    border-radius: 30px;
    background-image: url("../img/progress-color.png");
    background-repeat: no-repeat;
}
.product-box .prodaneProgress {
    background-color: #F09D2B;
    height: 16px;
}
.product-box .prodanePocet {
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 8px;
    font-weight: 500;
    padding-top: 1px;
    margin-bottom: 0;
    line-height: 16px;
}
.product-box .hodnoceni img {
    width: 12px;
}
